<article id="<%= post.layout %>-<%= post.slug %>"
  class="article white-box article-type-<%= post.layout %>"
  itemscope itemprop="blogPost">

  <header class="article-header">
    <h1 class="article-title" itemprop="name">
      <%= post.title %>
    </h1>
    <% if (is_post()) { %>
      <div class="article-meta">
        Posted on 
        <time class="article-time" datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
          <%= date(post.date, "MMM D, YYYY") %>
        </time>
      </div>
    <% } %>
  </header>

  <div class="article-entry" itemprop="articleBody">
    <%- post.content %>
    <% if (is_post()) { %>
      <div class="article-copyright">
        <a href="<%= url_for(theme.copyright.url) %>" target="_blank" rel="external">
          <span class="icon icon-creative-commons"></span>
          <span><%= theme.copyright.text %></span>
        </a>
        <a href="<%= config.url %>">&copy; <%= config.title %></a>
      </div>
    <% } %>
  </div>
  
  <% if (is_post()) { %>
    <div class="article-tags">
      <% if (post.tags && post.tags.length){ %>
        <%- list_tags(post.tags, {
          show_count: false,
          style: 'none',
          separator: ''
        }) %>
      <% } %>
    </div>

    <% if (post.prev || post.next){ %>
      <nav class="article-nav clearfix">
        <% if (post.prev){ %>
          <a href="<%- url_for(post.prev.path) %>" class="article-nav-newer">
            <div class="article-nav-title">
              <% if (post.prev.title){ %>
                <%= post.prev.title %>
              <% } else { %>
                (no title)
              <% } %>
            </div>
          </a>
        <% } %>
        <% if (post.next){ %>
          <a href="<%- url_for(post.next.path) %>" class="article-nav-older">
            <div class="article-nav-title"><%= post.next.title %></div>
          </a>
        <% } %>
      </nav>
    <% } %>
  <% } %>

  <% if (post.comments && (theme.disqus_shortname || theme.valine.enable || config.disqus_shortname)){ %>
  <section id="comments" class="white-box">
    <% if (theme.disqus_shortname || config.disqus_shortname){ %>
      <div id="disqus_thread">
        <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
    <% } %>
	</section>
	<% } %>

</article>
